body{
	background-color: #110f0fea;
}
.nav__sticky, .alert{
	z-index: 100;
}
.logo__centrado{
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #2e0302;
}
.nav__letra{
	font-size: 22px;
	font-weight: 300;
}
.margin__derecha{
	margin-right: 20px;
}
.fondo__negro{
	background-color: black;
}
.texto__bordo{
	color: #2e0302;
}
.fondo__bordo{
	background-color: #2e0302;
}
.fondo__gris{
	background-color: #171717;
}

.boton__añadir:hover{
	background-color: black;
}
.carrito{
	min-height: 70vh;
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}
.table__productos{
	display: flex;
}
.table__productos > img{	
	width: 7rem;
	object-fit: contain;
	border-radius: 6px;
	margin-right: 20px;
}
.table__cantidad > input{
	width: 40px;
	border: none;
	outline: 0;
	font-size: 16px;
	font-weight: 700;
	margin-right: 30px;
	margin-bottom: 20px;
}
.hide, .remove{
	display: none;
}
.compra__letra{
	font-size: 60px;
}
.imagenes__compra--padding{
	padding: 10px;
	margin: 10px;
}
.texto__compra--margenSup{
	margin-top: 400px;
}